body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(16, 22, 56); */
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}

.calculator{
    border: 1px solid rgb(156, 144, 144);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 3px 15px rgba(201, 185, 185,0.5);
}
input{
    width: 280px;
background: transparent;
border: none;
font-size: 40px;
text-align: right;
margin: 10px;
padding: 10px;
}

input::placeholder{
    color: white;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    border: none;
    /* background-color: rgb(87, 85, 85); */
    font-size: 25px;
    color: white;
     box-shadow: -8px -8px 15px rgba(255, 255, 255,0.3);
}

.equalBtn{
    background-color: rgb(197, 93, 55);
}
.operator{
color:green ;
}